%section.sign_in.container.mt-3
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_tag url: sessions_path do |f|
        %header
          %h1 Sign in
          = f.email_field :email
          = f.password_field :password
          = f.primary 'Sign In'
          = link_to 'Forgot Password?', new_password_path, class: 'btn btn-link'
