%section.my_queue.container
  %article
    %header
      %h2 My Queue
    = bootstrap_form_with model: current_user,
     url: queue_items_path, method: :patch do |f|
      %table.table
        %thead
          %tr
            %th(width="10%") List Order
            %th(width="30%") Video Title
            %th(width="10%") Play
            %th(width="20%") Review
            %th(width="15%") Genre
            %th(width="15%") Remove
        %tbody
          = f.fields_for :queue_items do |item_fields|
            - item = current_user.queue_items[item_fields.index]
            %tr
              %td
                = item_fields.text_field :priority, hide_label: true
              %td
                = link_to item.video_title,
                item.video
              %td
                = button_to "Play", nil, class: "btn btn-default"
              %td
                = item_fields.select :rating,
                 options_for_select(rating_options,
                  item.reload.rating),
                  { hide_label: true, include_blank: '' },
                  { class: 'custom-select' }
              %td
                = link_to item.category_name, item.category
              %td
                = link_to item, method: :delete do
                  %i.far.fa-trash-alt
      = f.submit 'Update Instant Queue', disabled: @queue_items.empty?
