%section.people
  %header
    %h2 People I Follow
  %table.table
    %thead
      %tr
        %th(width="30%")
        %th(width="20%") Videos in Queue
        %th(width="20%") Followers
        %th(width="30%") Unfollow
    %tbody
      - @followees.each do |followee|
        %tr{ id: "followee-#{followee.id}"}
          %td.text-left
            %img{ src: followee.gravatar_url }
            = link_to followee.full_name, profile_user_path(followee)
          %td.extra-padding= followee.queue_items.count
          %td.extra-padding= followee.followers.count
          %td.unfollow
            = button_to follow_path(followee), method: :delete, class: 'btn text-danger' do
              %i.fas.fa-user-times.align-
